 <div class="nyFooter" {if $index==1}style="background-color:#f1f1f1;margin-top:-5px;"{/if}>
        <div class="nyFooterC">
            <div class="nyFooterCC">
			 <div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        产品介绍</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <li><a href="product.php?type=1">
                                    硬件产品</a></li>
                            
                                <li><a href="product.php?type=2">
                                    软件产品</a></li>
                            
                                <li><a href="product.php?type=3">
                                    设计服务</a></li>
                            
                        </ul>
                    </div>
                </div>
				<div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        解决方案</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <li><a href="solution.php?type=1">
                                    智慧交通</a></li>
                            
                                <li><a href="solution.php?type=2">
                                    智慧停车</a></li>
                            
                                <li><a href="solution.php?type=3">
                                    智慧公交</a></li>
                            
                        </ul>
                    </div>
                </div>
				 <div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        经典案例</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <!--<li><a href="project.php?type=1">
                                    智慧城市</a>
                                </li>-->
                       
                            
                                <li><a href="project.php?type=2">
                                    城市交通</a>
                                </li>
                            
                                <li><a href="project.php?type=3">
                                    公共交通</a>
                                </li>
                            
                                <li><a href="project.php?type=4">
                                    停车服务</a>
                                </li>
                            
                                <li><a href="project.php?type=5">
                                    国际项目</a>
                                </li>
                            
                        </ul>
                    </div>
                </div>
				<!--<div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        新闻中心</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <li><a href="newslist.php?type=1">
                                    公司要闻</a></li>
                            
                                <li><a href="newslist.php?type=2">
                                    行业动态</a></li>
                            
                                <li><a href="newslist.php?type=3">
                                    技术前沿</a></li>
                            
                        </ul>
                    </div>
                </div>-->
				<div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        加入我们</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <li><a href="resouce.php">
                                    人力资源</a></li>
                            
                                <li><a href="zhaopin.php">
                                    招聘信息</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        关于我们</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <li><a href="aboutus.php?type=gsjj">
                                    公司简介</a></li>
                                <li><a href="aboutus.php?type=qywh">
                                    企业文化</a></li>
                            
                                <li><a href="aboutus.php?type=ryzs">
                                    荣誉证书</a></li>
                            
                                <li><a href="aboutus.php?type=zzrz">
                                    资质认证</a></li>
                            
                                
                            
                        </ul>
                    </div>
                </div>
                <div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        服务支持</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <li><a href="downlist.php">
                                    工具下载</a></li>
                            
                                <li><a href="productwh.php">
                                    产品文档</a></li>
								<li><a href="aboutus.php?type=lxwm">
                                    联系我们</a></li>
                            
                        </ul>
                    </div>
                </div>
                
               <div class="nyFooterC1">
                    <div class="nyFooterCT" style="font-weight:bold; font-size:14px;">
                        业务合作</div>
                    <div class="footerCC">
                        <ul class="footerUl">
                            
                                <li><a href="oem.php">
                                    OEM</a></li>
                            
                                <li><a href="shouquan.php">
                                    授权代理</a></li>
								<li><a href="productpt.php">产品配套</a></li>
                            
                        </ul>
                    </div>
                </div>
               
                <div class="nyFooterWX">
                    <div>
                        擎翌官方微信</div>
                    <img src="images/nyErweima.jpg" />
                    <div>
                        扫一扫，更多信息</div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <div class="nyFooterCopy">
                Copyright &copy; 2015 擎翌（上海）智能科技有限公司版权所有 沪ICP备15018281号
     </div>
	<script type="text/javascript"> 
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2ae3e46de285be7d10de3bd1cf247cd1' type='text/javascript'%3E%3C/script%3E"))
</script>